# Nightscout variables
API_SECRET=
BRIDGE_USER_NAME=
BRIDGE_PASSWORD=
BRIDGE_SERVER=EU


# AWS route53 variables
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_HOSTED_ZONE_ID=

#CF_DNS_API_TOKEN=
CF_DNS_API_TOKEN=


CONNECT_GLOOKO_PASSWORD=
CONNECT_GLOOKO_EMAIL=
